/* ---------------About Page----------- */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "plus jakarta sans";
}
.about{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.Heading h1{
    color: #009688;
    font-size: 45px;
    text-align: center;
    margin-top: 35px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-content button{
    display: inline-block;
    background-color: #009688;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.hero-content button:hover{
   background-color: #007e71;
   transform: scale(1.1);
    
}
.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;

}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
